.timer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px; 
    border-radius: 50%;
    border: 1px solid  rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.06);
    font-family: var(--font-body);
    color: var(--cream);
    font-size: .75rem;
    font-weight: 200;
    text-align: center;
}

.timer svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.timer circle {
    fill: none;
    stroke: var(--cream);
    stroke-width: 2;
    stroke-dasharray: 125.6; /* circumference */
    stroke-dashoffset: 0;   /* 0 = full ring */
    animation: countdown 25s linear forwards;
}

@keyframes countdown {
    from { stroke-dashoffset: 0; } /* 0 = full ring */
    to { stroke-dashoffset: -125.6; }
}
.category-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.category-display h1 {
    font-family: var(--font-fancy);
    color: var(--cream);
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.01em;
}

.player-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    max-width: 80%;
}
.player-progress-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.player-progress-dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}